<h1>Select expense form to fill out</h1>

<div class="row">
  <div class="col-md-12">
    <div class="">
      <%= link_to 'Cab fare', new_cab_fare_path  %> |
      <%= link_to 'Car rentals', new_car_rental_path %> |
      <%= link_to 'Travel cost', new_travel_cost_path %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">New Cab Fare Expense</div>
        <div class="panel-body">
          <%= render 'cab_fares/form', :@cab_fare => CabFare.new %>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">New Car Rental Expense</div>
        <div class="panel-body">
          <%= render 'car_rentals/form', :@car_rental => CarRental.new %>
        </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">New Travel Cost Expense</div>
        <div class="panel-body">
          <%= render 'travel_costs/form', :@travel_cost => TravelCost.new %>
        </div>
    </div>
  </div>
</div>

<div class="row">

</div>
