<p id="notice"><%= notice %></p>

<h1>Listing Cab Fare And Tolls</h1>

<table>
  <thead>
    <tr>
      <th>Occurence</th>
      <th>Cost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cab_fares.each do |cab_fare| %>
      <tr>
        <td><%= cab_fare.occurence %></td>
        <td><%= cab_fare.cost %></td>
        <td><%= cab_fare.description %></td>
        <td><%= link_to 'Show', cab_fare %></td>
        <td><%= link_to 'Edit', edit_cab_fare_path(cab_fare) %></td>
        <td><%= link_to 'Destroy', cab_fare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab fare', new_cab_fare_path %>
