<%= form_for(@entertain_expense_explanation) do |f| %>
  <% if @entertain_expense_explanation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entertain_expense_explanation.errors.count, "error") %> prohibited this entertain_expense_explanation from being saved:</h2>

      <ul>
      <% @entertain_expense_explanation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :occurence %><br>
    <%= f.date_select :occurence %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :business_purpose %><br>
    <%= f.text_field :business_purpose %>
  </div>
  <div class="field">
    <%= f.label :person_entertained %><br>
    <%= f.text_field :person_entertained %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
