<p id="notice"><%= notice %></p>

<h1>Listing Cab Fare And Tolls</h1>

<table>
  <thead>
    <tr>
      <th>Occurence</th>
      <th>Cost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cab_fare_and_tolls.each do |cab_fare_and_toll| %>
      <tr>
        <td><%= cab_fare_and_toll.occurence %></td>
        <td><%= cab_fare_and_toll.cost %></td>
        <td><%= cab_fare_and_toll.description %></td>
        <td><%= link_to 'Show', cab_fare_and_toll %></td>
        <td><%= link_to 'Edit', edit_cab_fare_and_toll_path(cab_fare_and_toll) %></td>
        <td><%= link_to 'Destroy', cab_fare_and_toll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab fare and toll', new_cab_fare_and_toll_path %>
