<p id="notice"><%= notice %></p>

<h1>Listing Travel Costs</h1>

<table>
  <thead>
    <tr>
      <th>Occurence</th>
      <th>Cost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_costs.each do |travel_cost| %>
      <tr>
        <td><%= travel_cost.occurence %></td>
        <td><%= travel_cost.cost %></td>
        <td><%= travel_cost.description %></td>
        <td><%= link_to 'Show', travel_cost %></td>
        <td><%= link_to 'Edit', edit_travel_cost_path(travel_cost) %></td>
        <td><%= link_to 'Destroy', travel_cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel cost', new_travel_cost_path %>
