<p id="notice"><%= notice %></p>

<h1>Listing Local Car Rentals</h1>

<table>
  <thead>
    <tr>
      <th>Occurence</th>
      <th>Cost</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @local_car_rentals.each do |local_car_rental| %>
      <tr>
        <td><%= local_car_rental.occurence %></td>
        <td><%= local_car_rental.cost %></td>
        <td><%= local_car_rental.description %></td>
        <td><%= link_to 'Show', local_car_rental %></td>
        <td><%= link_to 'Edit', edit_local_car_rental_path(local_car_rental) %></td>
        <td><%= link_to 'Destroy', local_car_rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Local car rental', new_local_car_rental_path %>
